#parent {
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: #9966ff;
    border-radius: 3%;
}

#money {
    position: absolute;
    top: 0;
    left: 0;
}

#time {
    position: absolute;
    bottom: 0;
    right: 0;
}

.text {
    margin: 10px;
    font-weight: bold;
    font-family: "Arial", Times, serif;
}

.graph {
    background-color: bisque;
    position: absolute;
    width: 30px;
    display: inline-block;
    bottom: 0;
}

#graph1 {
    left: 5px;
    bottom: 5px;
    height: 40px;
}

#graph2 {
    left: 65px;
    bottom: 5px;
    height: 120px;
}

#graph3 {
    left: 125px;
    bottom: 5px;
    height: 190px;
}

#graph4 {
    left: 185px;
    bottom: 5px;
    height: 170px;
}

#graph5 {
    left: 245px;
    bottom: 5px;
    height: 150px;
}

#graph6 {
    left: 305px;
    bottom: 5px;
    height: 100px;
}